build-stamp
configure-stamp
debian/files
debian/qasim.debhelper.log
debian/qasim.substvars
debian/qasim/
qasim/map_view_ui.rb
destdir/
debian/qasim/
*_ui.rb
*_qrc.rb
.bundle
vendor/bundle
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
