---
layout: nil
---

{% include header.html %}

<div class="hero-unit">
	<div class="row">
		<div class="span5">
		<h1>Qasim (القاسم)</h1>
		<h2>The quick SSHFS mapper</h2>
			<p style="margin-top: 2em; margin-bottom: 2em;">
			It is a front-end to SSHFS, helping average users to access remote filesystems through <em>ssh</em>.
			</p>
		</div>
		<div class="span5">
			<p style="text-align: right;">
				<img  style="max-width: 80%;" src="img/qasim-0.1beta-pic002.png" />
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span5">
			<p>
				<a class="btn btn-primary btn-large">Get Qasim &raquo;</a>
				<a class="btn btn-large">Learn more &raquo;</a>
			</p>
		</div>
	</div>
</div>
	
{% include footer.html %}
