[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=SSHFS Mapper
Name[fr_FR@euro]=SSHFS Mapper
Comment=Access to remote SSH shares
Comment[fr_FR@euro]=Accès aux partages SSH distants
Exec=sshfs-mapper
X-GNOME-Autostart-enabled=true
