<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

		<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
	</head>
	<body>
		{% if site.baseurl == null %}
		{% assign linkhome = "/" %}
		{% else %}
		{% assign linkhome = site.baseurl %}
		{% endif %}

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a href="{{ site.baseurl }}/index.html#" class="brand">Qasim</a>
					<div class="nav-collapse collapse" style="height: 0px;">
						<ul class="nav">
							<li class="active"><a href="#about">About</a></li>
							<li><a href="{{ site.baseurl }}/index.html#getting">Getting Qasim</a></li>
							<li><a href="{{ site.baseurl }}/index.html#usage">Usage</a></li>
							<li><a href="{{ site.baseurl }}/index.html#techinfo">Technical Info</a></li>
							<li><a href="{{ site.baseurl }}/index.html#faq">FAQ</a></li>
							<li><a href="{{ site.baseurl }}/index.html#contact">Contact</a></li>
							<li><a href="{{ site.baseurl }}/blog/index.html">Blog</a></li>
							<li><a href="https://github.com/glenux/qasim">Qasim on GitHub</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container">

