
[Desktop Entry]
Encoding=UTF-8
Name=Qasim
Comment=A user-friendly FUSE manager
Exec=qasim-gui
Terminal=false
Type=Application
Icon=qasim.svg
NotShowIn=
X-Desktop-File-Install-Version=0.15
StartupNotify=true
Categories=KDE;Qt;GTK;Network;System;Utility;
